{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Bienvenue sur la page d'accueil</h1>

    <p>
        Ceci est la page Home de mon site Symfony.
    </p>

    {% if app.user %}
        <p>
            Connecté en tant que :
            <strong>{{ app.user.userIdentifier }}</strong>
        </p>

        <form method="post" action="{{ path('app_logout') }}">
            <button type="submit">
                Logout
            </button>
        </form>
    {% else %}
        <p>
            Vous n'êtes pas connecté.
        </p>

        <a href="{{ path('app_login') }}">
            Se connecter
        </a>
    {% endif %}

{% endblock %}
