{% extends 'base.html.twig' %}

{% block title %}View Category{% endblock %}

{% block body %}
<h1>Category Details</h1>

<ul>
    <li><strong>ID:</strong> {{ category.id }}</li>
    <li><strong>Name:</strong> {{ category.name }}</li>
</ul>

<a href="{{ path('edit_category', {'id': category.id}) }}">Edit</a> |
<a href="{{ path('app_categorycontroller') }}">Back</a>
{% endblock %}
