{% extends 'base.html.twig' %}

{% block title %}Create Subcategory{% endblock %}

{% block body %}
<h1>Create Subcategory</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Create</button>
{{ form_end(form) }}

<a href="{{ path('app_subcategory') }}">Back to List</a>
{% endblock %}
