{% extends 'base.html.twig' %}

{% block title %}View Subcategory{% endblock %}

{% block body %}
<h1>Sybcategory Details</h1>

<ul>
    <li><strong>ID:</strong> {{ subcategory.id }}</li>
    <li><strong>Name:</strong> {{ subcategory.name }}</li>
    
</ul>

<a href="{{ path('edit_subcategory', {'id': subcategory.id}) }}">Edit</a> |
<a href="{{ path('app_subcategory') }}">Back</a>
{% endblock %}

